<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../patrials/head'); %>
</head>
<body>
    <header>
        <%- include('../patrials/header'); %>
    </header>
    <main>
        <%- include('../patrials/title'); %>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">                                                      
                    <% data.forEach(function(item) { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img data-bs-toggle="modal" name="edition_<%= item.edition %>" data-attributes="item.attributes" data-bs-target="#imageModal"  src="/asset/collections/<%= item.edition %>.<%= item.type %>" class="card-img-top img-collection" alt="<%= item.edition %>.<%= item.type %>">
                                <div class="card-body">
                                    <div><small class="text-muted"><%= item.name %></small></div>
                                    <div id="edition_<%= item.edition %>" class="d-none">   
                                    <p class="text-center"> <%= item.name %> </p>
                                    <table class="table table-bordered ">
                                        <thead>
                                          <tr>
                                            <th scope="col" class="text-end col-md-6">Trait type</th>
                                            <th scope="col">Value</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% item.attributes.forEach(function(attribute) { %>
                                            <tr>
                                                <td class="text-end"><%= attribute.trait_type %> :</td>
                                                <td><%= attribute.value %></td>
                                            </tr>
                                            <% }) %>
                                          
                                        </tbody>
                                      </table>   
                                    </div>                                 
                                </div>
                             </div>                            
                        </div>               
                    <% }) %>
                </div>   

                <% if (pages > 0) { %>
                    <nav class="py-4" aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% if (current == 1) { %>
                                    <li class="page-item disabled">            
                                        <a class="page-link disabled" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                            <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/home/1">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>                  
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                            <li class="page-item active"><a class="page-link"><%= i %></a></li>                      
                                    <% } else { %>
                                            <li class="page-item"><a class="page-link" href="/home/<%= i %>"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                            <li class="page-item disabled"><a class="page-link">...</a></li> 
                                    <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/home/<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                    </nav>
            <% } %>
            </div>        
        </div>
    </main>
   
    <!-- Modal -->
    <div class="modal fade"  id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">          
        <div class="modal-content">
            <div class="modal-body ">
                <div class="item text-center"><img class="rounded mx-auto d-block" id="imgSrc" src="" /></div>
                <div id="attribute" ></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>            
        </div>
        </div>
    </div>

    <footer>
        <%- include('../patrials/footer'); %>
    </footer>
</body>
<script >   
    const imageModalEl = document.getElementById('imageModal');
    imageModalEl.addEventListener('show.bs.modal', function(event) {
        document.getElementById('imgSrc').src = event.relatedTarget.src;        
        //document.getElementById("attribute").innerHTML = event.relatedTarget.attributes;
    });


    document.querySelectorAll('.img-collection').forEach(item => {
        item.addEventListener('click', event => {
            event.preventDefault();
            console.log(event.target.getAttribute("name"));
            const attb = event.target.getAttribute("name");
            document.getElementById("attribute").innerHTML = document.getElementById(attb).innerHTML;
            //alert(JSON.stringify(event))
            //attribute
        })
    })

</script>
</html>
