<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../patrials/head'); %>
</head>
<body>
    <header>
        <%- include('../patrials/header'); %>
    </header>
    <main>
        <%- include('../patrials/title'); %>        
        <div class="container">
        <form action="/setting/update" method="post"> 
            <input type="hidden" name="id" id="collection_id" value="<%= setting.id %>">
            <div class="row mb-3">
                <label for="collection_name" class="col-sm-2 col-form-label">Collections Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="collection_name" value="<%= setting.name %>">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collection_name" class="col-sm-2 col-form-label">Collections Initial</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="initial" id="collection_initial" value="<%= setting.initial %>">
                </div>
            </div>            
            <div class="row mb-3">
                <label for="collection_description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="collection_description" value="<%= setting.description %>">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collection_description" class="col-sm-2 col-form-label">Target</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="quantity" id="collection_description" value="<%= setting.quantity %>">
                </div>
            </div>            
            <div class="row mb-3">
                <label for="collection_ipfs" class="col-sm-2 col-form-label">IPFS</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ipfs" id="collection_ipfs" value="<%= setting.ipfs %>">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collection_attributes" class="col-sm-2 col-form-label">Attributes</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="attributes" id="collection_attributes" value="<%= setting.attributes %>">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collection_imgname" class="col-sm-2 col-form-label">Image Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="imgname" id="collection_imgname" value="<%= setting.imgname %>">
                </div>
            </div>                        
            <div class="row mb-3">
                <label for="collection_creator" class="col-sm-2 col-form-label">Creator</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="creator" id="collection_creator" value="<%= setting.creator %>">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collection_ffmpeg" class="col-sm-2 col-form-label">ffmpeg</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ffmpeg" id="collection_ffmpeg" value="<%= setting.ffmpeg %>">
                    For windows : <button type="button" class="btn btn-warning" onclick="pathSelect((this.textContent || this.innerText))">c:\\ffmpeg\\bin\\ffmpeg.exe</button>  ||  linux:   <button type="button" class="btn btn-warning" onclick="pathSelect((this.textContent || this.innerText))">/usr/bin/ffmpeg</button>
                </div>
            </div>                       
            <div class="row mb-3">
                <label for="collection_creator" class="col-sm-2 col-form-label">&nbsp;</label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>           
        </form>        
        </div>
    </main>
    <footer>
        <%- include('../patrials/footer'); %>
    </footer>
</body>
<script>
function pathSelect(path){
	var txt = "Nick";
	document.getElementById("collection_ffmpeg").value = path;
}
</script>

</html>
